body[data-theme="dark"] {
  @import "../src/scss/dark-slider.scss";

  .slider-tab {
    background-color: #8c8c8c;
  }

  .title-styles {
    color: white;
  }

  .header-icon {
    color: #3c342c;
    opacity: 0.8;
  }

  .slider-image {
    border: 5px solid #8c8c8c;
  }

  .language {
    background-color: #494949;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #918e97;
    color: white;
  }

  header {
    background-color: #2b2d42;
    h1 {
      color: white;
    }
  }

  /* NAVBAR */

  .navbar-b.navbar-reduce {
    background-color: #000814;
  }

  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
    color: white;
  }

  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
    color: white;
  }

  .navbar-b.navbar-trans .nav-link:before {
    background-color: white;
  }

  .navbar-b.navbar-trans .nav-link:hover {
    color: #1282a2;
  }

  .navbar-b.navbar-reduce {
    background-color: black;
  }

  .navbar-b.navbar-reduce .nav-link {
    color: white;
  }

  .navbar-b.navbar-reduce .nav-link:before {
    background-color: white;
  }

  .navbar-b.navbar-reduce .nav-link:hover {
    color: white;
  }

  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: white;
  }

  .navbar-b.navbar-reduce .navbar-brand {
    color: white;
  }

  .navbar-b.navbar-reduce .navbar-toggler span {
    background-color: white;
  }

  .navbar-b .navbar-brand {
    color: black;
  }

  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: white;
  }

  #about {
    background-color: #184e77;
    h1 span {
      color: white;
    }
    .polaroid span {
      background: #184e77;
    }
    .card {
      background: #003554;
      color: white;
    }
  }

  #portfolio {
    background: #2b2d42;
    .section-title {
      color: white !important;
    }
    .project-img-box {
      background: #003554;
    }
    .project-date {
      background: #003554;
    }
    .project-box {
      background: #0a1128;
    }
    .project-title-settings {
      color: white;
    }
  }

  #skills {
    background: #2b2d42;
  }

  .skills-title {
    color: white;
  }

  #resume {
    background: #184e77;
    .section-title {
      color: white !important;
    }

    .experience-badge {
      background: #919191 !important;
      color: white;
    }

    .main-badge {
      background: #919191 !important;
    }

    .vertical-timeline-element-date {
      color: white;
    }

    .vertical-timeline-element-icon {
      background: #919191 !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: #2b2d42;
    color: white;
  }

  .close-icon {
    color: white;
  }

  #contact {
    background: #184e77;
    color: white;
  }

  .contact-container {
    background: #2b2d42;
  }

  .contact-title {
    color: white;
  }

  @media (max-width: 600px) {
    .contact-container {
      background: none;
    }
  }

  .lang-container {
    background-color: #0c1821;
  }

  .download-btn {
    background-color: #13293d;
  }
  .download-btn::before {
    background-color: #051923;
  }
  #cvs-box a {
    color: white;
    background: linear-gradient(
      to bottom,
      rgb(49, 94, 119),
      rgb(25, 33, 70) 40%
    );
  }
  #cvs-box a:hover {
    background: linear-gradient(
      to bottom,
      rgb(104, 143, 165),
      rgb(6, 7, 10) 40%
    );
  }

  .socials-container ul li a {
    background-color: #02090e;
    border: 3px solid #29607c;
  }
  .socials-container ul li a .icon {
    color: #bbc7e0;
  }

  .skill-category {
    color: white;
  }

  .skills-tile {
    background-color: transparentize(#0a1128, 0.1);
    outline-color: rgba(190, 182, 206, 0.74);
  }

  .skills-tile:hover {
    background-color: transparentize(#0a1128, 0);
    box-shadow: inset 0px 0px 3px 3px rgba(128, 0, 255, 0.7);
    outline-color: rgba(174, 153, 197, 0);
    text-shadow: 0 0 5px rgba(128, 0, 255, 0.8), 0 0 10px rgba(128, 0, 255, 0.6),
      0 0 20px rgba(128, 0, 255, 0.4);
  }

  .skill-progress-container {
    background-color: transparentize(#184e77, 0.1);
    box-shadow: inset 0px -3px 3px 2px transparentize(#2e084f, 0.3);
  }

  .skill-progress {
    background-color: transparentize(#a5b4e4, 0);
  }

  .skills-divider {
    background-color: transparentize(#a5b4e4, 0);
  }
}
